<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>个人中心</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!--给手机等其他终端打开使用的，缩放一类的-->
    <link rel="stylesheet" href="{%  static 'bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{%  static 'pro.css' %}" />

</head>
<body>

    <div class="container">
        <!-- 居中样式-->
        <div class="col-md-4 col-md-offset-4">
            {% if message %}
            <div class="alert alert-warning" role="alert">{{ message }}</div>
            {% endif %}
            <h2 class="text-center">个人信息</h2>
            <hr>
                {% for pr in pro %}
                <form class="clearfix" id="form" enctype="multipart/form-data"  method="post" action="/image/" >
                    <div class="form-group">
                    <!--<label for="id_username">用户名:</label>-->
                    <!--<input type="text" name="username" class="form-control" id="id_username" placeholder="Username" autofocus required>-->
                             <label class="changearea" for="file">
                                 <span id="avatardiv" class="pic">
                                    <img src="../static/{{ pr.image }}" class="user-image" alt="User Image">
                                </span>
                                <span class="fl upload-inp-box" style="margin-left:70px;">
                                    <span class="button btn-green btn-w100 btn btn-default " id="jsAvatarBtn">修改头像</span>
                                    <input type="file" name="image" id="file" class="js-img-up" style="display: none" onchange="change_head()" name="head"/>
                                </span>
                            </label>
                            <!--<input type='hidden' name='csrfmiddlewaretoken' value='799Y6iPeEDNSGvrTu3noBrO4MBLv6enY ' />-->
                        {% csrf_token %}

                        <ul class="right">
						    <li>用 户 名：
                                {{ pr.user }}
                            </li>
                            <li>职务：
                                {{ pr.job }}
                            </li>
                            <li>邮    箱：
                                {{ pr.email }}
                            </li>
                        </ul>
                    </div>
                <!--<div class="form-group">-->
                    <!--<label for="id_password">密码:</label>-->
                    <!--<input type="password" name="password" class="form-control" id="id_password" placeholder="Password" required>-->
                <!--</div>-->
                <!--<button type="reset" class="btn btn-default pull-left">重置</button>-->
            <!--<form class="form-login" action="/updateprofile/" method="post">-->
                    {% endfor %}
                    <a class="btn btn-default pull-left" href="/index/">返回</a>
                    <button type="submit" class="btn btn-default pull-right ">完成</button>
                </form>
                <!--<button type="reset" class="btn btn-default pull-left">重置</button>-->
                <!--<button type="submit" class="btn btn-default pull-right">修改</button>-->
                <!--<a class="btn btn-default pull-right" href="/updateprofile/">修改头像</a>-->

            <!--</form>-->
            <!--<form class="clearfix" id="jsAvatarForm" enctype="multipart/form-data" autocomplete="off" method="post" action="#" target='frameFile'>-->
                <!--<label class="changearea" for="avatarUp">-->
                    <!--<span id="avatardiv" class="pic">-->
                        <!--<img width="100" height="100" class="js-img-show" id="avatarShow" src="../static/{{ pr.image }}"/>-->
                    <!--</span>-->
                    <!--<span class="fl upload-inp-box" style="margin-left:70px;">-->
                        <!--<span class="button btn-green btn-w100" id="jsAvatarBtn">修改头像</span>-->
                        <!--<input type="file" name="image" id="avatarUp" class="js-img-up"/>-->
                    <!--</span>-->
                <!--</label>-->
                <!--<input type='hidden' name='csrfmiddlewaretoken' value='799Y6iPeEDNSGvrTu3noBrO4MBLv6enY' />-->
                <!--{% csrf_token %}-->
            <!--</form>-->
        </div>
    </div>

    <script src="{%  static 'plugins/jQuery/jquery-2.2.3.min.js' %}" ></script>
    <script src="{%  static 'bootstrap/js/bootstrap.min.js' %}" ></script>
</body>
</html>